@model List<Client_Side.Models.Note>

@{
    ViewData["Title"] = "Notes Page";
}

<div class="jumbotron my-5 ">
    @foreach (var note in Model)
    {
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-text">@note.Text</h4>
        </div>
        <a class="btn btn-primary" asp-action="NoteDetails" asp-route-id="@note.Id">
            Note details
        </a>
    </div>
    }
</div>

